.loader {
  height: 100px;
  width: 100px;
}
.table tbody tr td a {
  color: black;
  text-decoration: none;
}
.table tbody tr td a:hover {
  color: green;
}
.table > thead tr td {
  background: #f2f3a2 !important;
}

#root {
  padding: 10px;
}
@media screen and (max-width: 767px) and (min-width: 300px) {
  td {
    font-size: 13px;
  }
  button {
    padding: 5px;
  }
  .Toastify__toast-container {
    font-size: 13px;
    width: 70vw;
    left: 50px;
  }
}
